registry=https://registry.npmmirror.com

# registry=https://registry.npmjs.org

# node 18 openssl3.x官方支持 hash算法
# node-options=--openssl-legacy-provider --max-old-space-size=4096
# DISABLE_ESLINT_PLUGIN=true
